---
title: "Login"
formTitle: "Вход"
labelAuth: "Авторизоваться"
labelSign: "Нет аккаунта?"
fields: [
{title: "Логин", error: "Неверный логин"},
{title: "Пароль", password: true, error: "Неверный пароль"}
]
styles: {
form: "fv plate",
label: "label plate__label label-l",
content: "contentHolder-login",
input: "input label-m",
inputLabel: "label input__label label-s",
error: "label label-error",
buttonAuth: "button",
labelAuth: "label button__label label-m",
buttonSign: "plate__link button-link",
labelSign: "label button__label-link label-s"
}
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="common.less">
    <title>{{title}}</title>
</head>

<body>
    <main class="fv cent main">
        <div class="{{styles.form}}">
            <span class="{{styles.label}}">{{formTitle}}</span>
            <ul class="{{styles.content}}">
                {{#each fields}}
                <li>
                    <div class="inputWrapper">
                        <div class="{{../styles.inputLabel}}">{{this.title}}</div>
                        <input class="{{../styles.input}}" placeholder="{{this.title}}" {{#if password}}type="password"
                            {{/if}} />
                        {{#if error}}<div class="{{../styles.error}}">{{this.error}}</div>{{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
            <a class="{{styles.buttonAuth}} fv cent" href="./pages/status/404.hbs">
                <span class="{{styles.labelAuth}}">{{labelAuth}}</span>
            </a>
            <a class="{{styles.buttonSign}}" href="./pages/registration/index.hbs">
                <span class="{{styles.labelSign}}">{{labelSign}}</span>
            </a>
        </div>
    </main>
</body>

</html>